body {
  margin: 0;
  padding: 0;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navbar a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-align: center;
  width: 20%;
}

.navbar a:hover {
  background-color: #A9A9A9;
}

.navbar a.active {
  background-color: #A9A9A9;
  color: black;
  font-weight: bold;
}

.homepage-body {
  background-image: url(https://3rconsulting.co.uk/wp-content/uploads/2018/10/dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
    .address {
      position: fixed;
      bottom: 75px;
      left: 130px;
      color: white;
	  font-size: 22px;
	  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    }

    .centered-button {
      position: fixed;
      top: 61%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: #202020;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      width: 18%;
    }

    .centered-button:hover + .button-text {
      display: block;
      color: white;
      font-size: 22px;
      margin-top: 40px;
      text-align: center;
      font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    }

  
    .button-text {
      display: none;
      position: fixed;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      background-color: none;
      color: white;
      padding: 5px;
      border-radius: 5px;
    }
	
	
	.contact-image {
      position: fixed;
      bottom: 30px;
      left: 30px;
	  width: 100px;
	  height: 90px;
    }
	
	.LPlogo{
	  position: fixed;
      top: 20%;
	  left: 37%;
	  width: 26%;
	  height: 34%;
	}
	
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  border: 2.5px solid #000000;
  text-align: center;
  color: #FFFFFF;
  user-select: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 240px;
  height: auto; 
}
.top-right {
  position: absolute;
  top: 85px;
  right: 10px;
}

.bottom-right{ 
  position: fixed;
  bottom: 30px;
  right: 10px;
}
 
 .Staff-top-section {
  position: relative;
  padding: 20px;
  text-align: center;
  background-image: url("https://media.istockphoto.com/id/1181134866/photo/dark-modern-workplace-with-tablet-a-cup-of-black-coffee.jpg?b=1&s=170667a&w=0&k=20&c=ixDPjHz1mrdTzOiX3V3yWNhOhfrflZUIwHas6xdFMa4=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
 }
  
.StaffH {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  width: 70%;
  margin: 30px 255px;
}

.StaffH h2 {
  margin: 0;
  color: white;
  font-size: 22px;
}

.StaffH p {
  margin: 5px;
  color: white;
  font-size: 20px;
}

.box {
  width: 85%;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 150px;
  border: 3px solid black;
}

.box img {
  width: 60%;
  height: 100%;
  object-fit: cover;
}


.box .left-side,
.box .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  width: 50%;
  background-color: #808080;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side {
  width: 50%;
  background-color: #303030;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box h1 {
  color: white;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: black;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.box p {
  color: #fff;
  font-size: 24px;
  text-align: justify;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.box.inverted .left-side {
  background-color: #303030;
}

.box.inverted .right-side {
  background-color: #808080;
}

 .Courses-top-section {
  position: relative;
  padding: 20px;
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/modern-black-office-desk-with-office-supplies-copy-space-presentation-background_67155-21518.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
} 


.CoursesH {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 18px;
  text-align: center;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  width: 70%;
  margin: 30px 255px;
}


.CoursesH h1 {
  margin: 0;
  color: white;
  font-size: 22px;
}

.CoursesH p {
  margin: 5px;
  color: white;
  font-size: 20px;
}

.courses-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 50px auto;
  height: 200px;
}

.scroll-box {
  height: 600px;
  width: 1400px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 50px;
  background-color: #202020;
  padding: 5px;
}

.scroll-box .content {
  color: white;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section img {
  max-width: 20%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
  border-top-right-radius: 20px;
}


.section-content {
  flex: 1;
}

.section-content h2 {
  margin: 8px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  color: white;
}

.section-content p {
  margin: 8px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: white;
}

 .JD-top-section{
  position: relative;
  padding: 20px;
  text-align: center;
  background-image: url("https://image.freepik.com/free-photo/desk-office-top-view-with-computer-notepad-pen-coffee-plant-black-background_149391-114.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center top;
}
 
 body.Job-Description-body {
      background-color: #202020;
 }

.section-left .image-jd1,
.section-left2 .image-jd2 {
  max-width: 65%;
  margin-top: 5px;
  height: auto;
  margin-bottom: 10px;
}

.image-jd1 {
  margin-right: 200px;
}

.image-jd2 {
  margin-right: 340px;
}

.section {
  background-color: none;
  margin: 10px;
  padding: 20px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.section-left {
  width: 40%; 
  border-right: 2px solid #FFFFFF;
  font-size: 24px;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  float: left;
}

.section-left h2 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px; 
}

.section-left p {
  margin: 0;
  font-size: 24px; 
}

.section-left2 {
  width: 40%;
  border-right: 2px solid #FFFFFF;
  font-size: 22px;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
  float: left;
}

.section-left2 h2 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
}

.section-left2 p {
  margin: 0;
  font-size: 24px;
}

.section-right {
  margin-top: 20px;
  margin-bottom: 0;
  width: 45%;
  border-bottom: 2px solid #FFFFFF;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  float: right;
  margin-right: 12%;
}

.section-right h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.section-right p {
  margin: 0;
  font-size: 24px;
}

.section-right2 {
  margin-top: 18px;
  width: 45%;
  border-bottom: 2px solid #FFFFFF;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  float: right;
  margin-right: 12%;
}

.section-right2 h2 {
  margin-bottom: 10px;
  padding: 10px;
}

.section-right2 p {
  margin: 0;
}

.section-below {
  margin-top: 0;
  margin-bottom: 0;
  width: 45%;
  border-bottom: 2px solid #FFFFFF;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  float: right;
  margin-right: 12%;
}

.section-below h2 {
  margin-bottom: 0;
}

.section-below p {
  margin: 0;
}

.section-below2 {
  margin-top: 0;
  margin-bottom: 10px;
  width: 45%;
  border-bottom: 2px solid #FFFFFF;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  float: right;
  margin-right: 12%;
}

.section-below2 h2 {
  margin-bottom: 0;
}

.section-below2 p {
  margin: 0;
}

.section-left2 h2,
.section-right h2,
.section-right2 h2,
.section-below h2,
.section-below2 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-left2 p {
  font-size: 24px;
}

.section-right2 ul,
.section-right ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 24px;
}

.section-right2 ul li,
.section-right ul li {
  margin-bottom: 5px;
}

.section-below2 ul,
.section-below ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 24px;
}

.section-below2 ul li,
.section-below ul li {
  margin-bottom: 8px;
}

body {
  margin: 0;
  padding: 0;
}

.application-heading {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 100px;
  margin-left: 35px;
}

body.join-us-body {
  background-color: #202020;
  justify-content: space-between;
}

#section-right-JU {
  margin-top: 5%;
  margin-left: 100px;
  margin-right: auto;
  border: none;
  display: flex;
  align-items: flex-start;
}


#section-left-JU {
  margin-top: 5%;
  margin-left: 30px;
  margin-right: 20px;
  border: none;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

label {
  width: 200px;
  text-align: left;
  margin-right: 10px;
  color: white;
  font-size: 26px;
  font-family: 'Bahnschrift Condensed', sans-serif;
}

.name-inputs,
.date-input,
.email-input,
.phone-inputs,
.address-inputs,
.position-input {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

.section-left-JU,
.section-right-JU {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 250px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
  outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder {
  color: white;
}

input[type="text"]:focus + input[type="text"],
input[type="email"]:focus + input[type="email"],
input[type="date"]:focus + input[type="date"] {
  background-color: white;
  color: #202020;
}

.position-input {
  position: relative;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: none;
  position: absolute;
  top: 40%;
  right: 10px;
  cursor: pointer;
}

select {
  width: 250px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

select:focus {
  outline: none;
}

select::placeholder {
  color: white;
}

select:focus option {
  color: black;
}

.file-input {
  position: relative;
}

.file-label {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #202020;
  color: #202020;
  cursor: pointer;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input input[type="file"]:not(:focus) + .file-label {
  background-color: none;
  color: #fff;
}

.file-input input[type="file"]:not(:focus) + .file-label::after {
  content: attr(data-default-label);
}

.file-input input[type="file"]:not(:focus):valid + .file-label {
  background-color: none;
  color: black;
}

.file-status {
  display: inline-block;
  margin-left: 10px;
  color: white;
  font-style: italic;
  font-family: 'Bahnschrift Condensed', sans-serif;
}

.submit-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Bahnschrift Condensed', sans-serif;
  width: 200px;
  margin-top: 60px;
  margin-left: 150px;
}


.submit-button:hover {
  background-color: white;
}

.form-row,
.input-container,
.name-inputs,
.date-input,
.email-input,
.phone-inputs,
.address-inputs,
.position-input {
  margin-bottom: 10px;
}
